* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container.filter {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 70px 135px;
  position: relative;
  box-sizing: border-box;
  position: relative;
}

.top__wrapper {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: auto;
}

.sorting__wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 77px;
  justify-content: space-between;
}
